VITE_API_URL=http://localhost:3000
VITE_SUPABASE_URL=https://hdliqdnjajzfxlacsodx.supabase.co
VITE_SUPABASE_ANON_KEY=tu_llave_anon_publica_aquieyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhkbGlxZG5qYWp6ZnhsYWNzb2R4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA1MDY2MzcsImV4cCI6MjA5NjA4MjYzN30.XLRr2Oow_hV6r93osLauKVPBiD30wc4njkA1CaI5yNc